<html>

<!--the head-->
 <head>
  <title>QuickCast</title>

  <style media="screen">


    #custom-button {
      padding 10px;
      color: white;
      background-color: #009578;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
    }
    #custom-button:hover{
      background-color: #00b28f;
    }
    #custom-text {
      margin-left: 5px;
      font-family: sans-serif;
      color: #aaa;
      border: 1px solid #000;
    }
  </style>

 </head>

 <!--the body-->
 <body>

   <!--button div-->
   <div class="uploadfeed">

     Uploaded Videos Go Here!

   </div>

   <!--button div-->
   <div class="uploadbutton">
     <input type="file" id="real-file" hidden="hidden" />
     <button type="<button type="button" id="custom-button">UPLOAD</button>
     <span id ="custom-text">No File Uploaded</span>
   </div>

   <script type="text/javascript">
     const realFileBtn = document.getElementById("real-file");
     const customBtn = document.getElementById("custom-button");
     const customTxt = document.getElementById("custom-text");

     customBtn.addEventListener("click",function(){
       realFileBtn.click();
     });

     realFileBtn.addEventListener("change",function(){
       if (realFileBtn.value){
         customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
       }else{
         customTxt.innerHTML = "No File Uploaded";
       }
     });
   </script>

 </body>

</html>
