<!--button div-->
<div class="uploadfeed">

  Uploaded Videos Go Here!

</div>

<!--button div-->
<div class="uploadbutton">
  <input type="file" id="real-file" hidden="hidden" />
  <button type="button" type="button" id="custom-button">UPLOAD</button>
  <span id ="custom-text">No File Uploaded</span>
</div>
