<h1>Grid Elements</h1>

<p><em></em>  <em></em> <em></em></p>


<div class="grid-container">
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/iB9FeB06reI"></iframe><div class="username">Sahil Arora&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/_XfUUYK7Gkg"></iframe><div class="username">Rachel McAdams&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/wMAlC4F7amg"></iframe><div class="username">Julliard&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/IKx3_YS5Q64"></iframe><div class="username">Jeanine A&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/WNyPMhxsMHQ"></iframe><div class="username">Asia Jackson&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/05lJQAVqlzM"></iframe><div class="username">Destery Sm&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/AC1XD016BrI"></iframe><div class="username">Ajay Acting&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/J6co58SSsAA"></iframe><div class="username">Nick Dunning&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/gWV0ug_FDK8"></iframe><div class="username">KoKo Steele&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/k9mGDml_10E"></iframe><div class="username">JK Entertainment&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/So7sNHS5PIA"></iframe><div class="username">Destiny GG&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
  <div class="grid-item"><iframe width="600" height="395" src="https://www.youtube.com/embed/h9Fe3C2MBmI"></iframe><div class="username">Shambhavi&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="http://www.clker.com/cliparts/R/U/Y/u/I/M/thumbs-up-icon-blue-hi.png" alt="Smiley face" height="30" width="30"></div></div>
</div>



<!--button div-->
<div class="uploadbutton">
  <input type="file" id="real-file" hidden="hidden" />
  <button type="button" type="button" id="custom-button">UPLOAD</button>
  <span id ="custom-text">No File Uploaded</span>
</div>
