<h1>Grid Elements</h1>

<p><em></em>  <em></em> <em></em></p>


<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>



<!--button div-->
<div class="uploadbutton">
  <input type="file" id="real-file" hidden="hidden" />
  <button type="button" type="button" id="custom-button">UPLOAD</button>
  <span id ="custom-text">No File Uploaded</span>
</div>
