#custom-button {
  padding 10px;
  color: white;
  background-color: #005c99;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  height: 80px;
  font-size: 180%;
  font-family: arial black;
}
#custom-button:hover{
  background-color: #9999ff;
}
#custom-text {
  margin-left: 5px;
  font-family: sans-serif;
  color: #aaa;
  border: 1px solid #000;


}
.uploadfeed {
  text-align:center;
  height: 1000px;
  border: 1px solid #000;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 80px;
}
.uploadbutton {
  text-align: right;
  margin-right: 20px;
}
body {background-color:	#b3e0ff;}
